<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@include('partial/head')

<body id="top">
@include('partial/navbar')
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="breadcrumb">
    <ul>
      <li class="first">navigasi</li>
      <li>&#187;</li>
      <li><a href="#">berita</a></li>
      <li>&#187;</li>
      <li><a href="#">kategori</a></li>
      <li>&#187;</li>
      <li class="current"><a href="#">judul</a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <h1>Judul 1 Warna dan ukuran disesuaikan</h1>
    <h2>Judul 2 Warna dan ukuran disesuaikan</h2>
    <h3>Judul 3 Warna dan ukuran disesuaikan</h3>
    <h4>Judul 4 Warna dan ukuran disesuaikan</h4>
    <h5>Judul 5 Warna dan ukuran disesuaikan</h5>
    <h6>Judul 6 Warna dan ukuran disesuaikan</h6>
    <p>intinya ini isi beritanya biasanya diisi headline yang menari pembaca dan lain lain. ini page cuma text aja biasanya digunakan untuk opini. </p>
    <p>intinya ini isi beritanya biasanya diisi headline yang menari pembaca dan lain lain. tambahkan apapun sesuai keinginan penulis</p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Etiam vel sapien et est adipiscing commodo.</li>
      <li>Duis pharetra eleifend sapien, id faucibus dolor rutrum et.</li>
      <li>Donec et dui dolor, in lacinia leo.</li>
      <li>Mauris posuere tellus ac purus adipiscing dapibus.</li>
    </ul>
    <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet nibh fames nulla curabitudin.</p>
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Etiam vel sapien et est adipiscing commodo.</li>
      <li>Duis pharetra eleifend sapien, id faucibus dolor rutrum et.</li>
      <li>Donec et dui dolor, in lacinia leo.</li>
      <li>Mauris posuere tellus ac purus adipiscing dapibus.</li>
    </ol>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="adblock">
    <div class="fl_left"><a href="#"><img src="../images/demo/468x60.gif" alt="" /></a></div>
    <div class="fl_right"><a href="#"><img src="../images/demo/468x60.gif" alt="" /></a></div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
@include('partial/footer')
</body>
</html>